<form #formData="ngForm">
	<p><input type="text" name="search" required [(ngModel)]="searchInfo.search" #search="ngModel"><span *ngIf="searchInfo.dirty"><span *ngIf="searchInfo.errors?.required">Search field is required.</span></span></p>

	<!-- <input type="submit" name="searchInfo" value="Search" [disabled]="!formData.form.valid"> -->
</form>
	<button type="button" name="button" (click)="addressSearch()">search</button>
	<button type="button" name="button" (click)="removeCookies()">remove cookies</button>

<!-- <p>{{ searchInfo | json }}</p>
<p>{{ searchResults | json }}</p> -->
<p>City: {{ skycastService.city }}</p>
<div *ngIf="skycastService.weatherData.currently" >
	<p>{{ skycastService.weatherData.currently.time * 1000 | date:"medium" }}</p>
	<p>{{ skycastService.weatherData.currently.temperature | number: "1.0-0" }}&deg;F</p>
</div>

<div style="overflow-x: scroll;">
  <div *ngIf="chartReady" class="chart-container" style="display: block; width: 300vw;">
    <canvas id="chart" style="height: 50vh;" baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>

<p>Search History: {{ skycastService.searchHistory | json }}</p>

<p>Weather: {{ skycastService.weatherData | json }}</p>
